body {
  background: linear-gradient(to bottom right, #1d50db, #1fbac5);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
 width: 190px;
 height: 254px;
 border-radius: 30px;
 background: white;
 box-shadow: 15px 15px 30px rgb(25, 25, 25),
             -15px -15px 30px rgb(60, 60, 60);
}



.login-form {
  background-color: white;
  width: 400px;
  height: 400px;
  margin: auto;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}

.login-form h1 {
  margin: 30px 0;
}

.login-form label, .login-form input[type="text"], .login-form input[type="password"], .login-form button {
  display: block;
  margin: 20px 0;
  width: 80%;
  max-width: 300px;
}

.login-form button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}


